{
    "presets": [
        "env",
        "react"
    ],
    "env": {
        "server": {
            "plugins": [
                [
                    "transform-object-rest-spread",
                    {
                        "useBuiltIns": true
                    }
                ]
            ]
        }
    }
}